@import "variables";
@import "placeholder";

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
.OMF{
    font-family: 'Shrikhand', serif;
}
.title{
    font-weight: 300 ;
    font-size: 1rem;
}


header{
    display: flex;
    align-content: center;
    justify-content: center;

   .OMF{
    font-size: 1.875rem;
   }
}

img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    z-index: 0;
}
.main-container{
    padding-bottom: 40px;
    background-color: #F6F6F6;
}
.header_menu{
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        margin-top: -50px;
        padding: 30px 13px 40px;
        margin-bottom: 40px;
        background-color: #F7F7F7;
        z-index: 1;
        position: relative;

        h1{
            @extend .OMF;
            font-weight: 400;
            font-size: 1.75rem;
        }

        .section_title_menu {
            margin-top: 20px;
            position: absolute;
            top:0;
            bottom: 0;
            left: 25px;
            right: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            .icons{
                i{
                    position: absolute;
                    top: 10px;
                    right: 33px;
                    color:#101010;
                    line-height: 1;
                } 
                .fa-solid:not(:hover) {
                    background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    line-height: 1;
                    transition: opacity 0.8s ease-in 0.3s;
                    opacity: 0; 
                }  
                .fa-solid:hover { 
                    background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;     
                    opacity: 1;
                    line-height: 1;  
                    cursor: pointer;
                    transition: opacity 0.8s ease-in 0.3s;
                }
            }
    }

    .dish{
        font-weight: 500;
        font-size: 1.125rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .subtitle{
        font-weight: 300;
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
.menu{
    display: block;
    margin-bottom: 40px;
    width: 100%;
    background-color: #F6F6F6;
    .title{
        margin-bottom: 12px;
        margin-left: 13px;

        &::after{
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background: #99E2D0;
            margin-top: 10px;
        }
    }

    .card_container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .card{
        
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin: 0px 15px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;

        .card1{
            padding: 12px 18px 12px 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .card2{
            display: flex;
            gap: 10px;
            margin-right: -60px;

            .price{
                display: flex;
                align-items: flex-end;
                font-weight: 700;
                font-size: 15px;
                padding-bottom: 12px;  
            }
            .check{
                width: 60px;
                color: #FFFFFF;
                background-color: #99E2D0;
                border-radius: 0px 15px 15px 0px;
                display: flex;
                align-items: center;
                font-size: 31px;
                padding-left: 15px;
            }
        } 
        &:hover .card2 {
            transform: translateX(-60px);
            transition: transform 0.8s ease-in; 
        }
        
        &:not(:hover) .card2 {
            transform: translateX(0);
                        transition: transform 0.8s ease-in;           
        }
    
    }
   
}

.CTA {
    display: block;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    padding: 13px 20px;
    border: none;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    margin-top: 40px;
}

footer{
    width: 100%;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #353535;
    .OMF{
        font-size: 1.125rem;
        color: #F7F7F7;
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: #F6F6F6;
        i{
            width: 11px;
            height: 13px;
            margin-right: 11px;
        }
    }
}

@media screen and (min-width: 749px){
    
    .menu{
        padding: 0px 125px;
    }
    .main-container{
        margin: 0px 90px;
    }
}

@media screen and (min-width: 1024px){
    .main-container{
        margin: 0px 193px;
    }
}