@import "variables";
@import "placeholder";

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
a{
    color: #101010;
    text-decoration: none;
}
.OMF{
    font-family: 'Shrikhand', serif;
}
.title{
    font-weight: 300 ;
    font-size: 1rem;
}


header{
    display: flex;
    align-content: center;
    justify-content: center;

    .arrow{
        
        position: absolute;
        left: 17px;
        top: 13px;    
    }
   .OMF{
    font-size: 1.875rem;
   }
}

img{
    width: 100%;
    height: 275px;
    object-fit: cover;
    z-index: 0;
}
.main-container{
    padding-bottom: 40px;
    background-color: #F6F6F6;
}
.header_menu{
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        margin-top: -50px;
        padding: 30px 13px 40px;
        margin-bottom: 40px;
        background-color: #F7F7F7;
        z-index: 1;
        position: relative;

        h1{
            @extend .OMF;
            font-weight: 400;
            font-size: 1.75rem;
        }

        .section_title_menu {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 24px;
            position: relative;
        }

        .icons{
                display: flex;
                align-items: center;
                i{
                    position: absolute;
                    color:#101010;
                    line-height: 1;
                    right: 0px;
                } 
                .fa-solid:not(:hover) {
                    background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    line-height: 1;
                    transition: opacity 0.4s ease-in 0.1s;
                    opacity: 0; 
                }  
                .fa-solid:hover { 
                    background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;     
                    opacity: 1;
                    line-height: 1;  
                    cursor: pointer;
                    transition: opacity 0.4s ease-in 0.1s;
                }
            }
}   
.menu{
    display: block;
    margin-bottom: 40px;
    width: 100%;
    background-color: #F6F6F6;
    .title{
        margin-bottom: 12px;
        margin-left: 13px;

        &::after{
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background: #99E2D0;
            margin-top: 10px;
        }
    }

    .card_container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .card{
        
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin: 0px 15px;
        display: flex;
        overflow: hidden;
        position: relative;

       

        .card1{
            padding: 12px 18px 12px 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            overflow: hidden;
    
            .dish{
                width: 100%;
                display: block;
                font-weight: 500;
                font-size: 1.125rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .subtitle{
                width: 100%;
                display: block;
                font-weight: 300;
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .card2{
           
            display: flex;
            gap: 10px;
            margin-right: -60px;
            

            .price{
                display: flex;
                align-items: flex-end;
                font-weight: 700;
                font-size: 15px;
                padding-bottom: 12px;  
            }
            .check{
                width: 60px;
                color: #FFFFFF;
                background-color: #99E2D0;
                border-radius: 0px 15px 15px 0px;
                display: flex;
                align-items: center;
                font-size: 31px;
                padding-left: 15px;
            }
        } 
        &:hover .card2 {
            transform: translateX(-60px);
            transition: transform 0.5s ease-in-out;  
        }
        
        &:not(:hover) .card2 {
            transform: translateX(0);
                        transition: transform 0.5s ease-in-out;           
        }
    
    }
    .card:hover .dish{
        width: calc(100% - 60px);
        transition-duration: 200ms;
        transition: width 400ms ease-in-out;
    }
    .card:hover .subtitle{
        width: calc(100% - 60px);
        transition: width 400ms ease-in-out;
    } 
    .card:not(hover) .dish{
        width: calc(100% + 60px);
        transition: width 400ms ease-in-out;
    }   
    .card:not(hover) .subtitle{
        width: calc(100% + 60px);
        transition: width 400ms ease-in-out;
    }  
}

/*animation loading*/

.card_container,h2{
    margin: 40px 13px;
    animation: transition 1.5s ease-out 0.5s forwards;
    opacity: 0;
}

.transition2 {
    animation: transition 1.5s ease-out 1.5s forwards;
    opacity: 0;
}

.transition3 {
    animation: transition 1.5s ease-out 2.5s forwards;
    opacity: 0;
}

/* keyframes*/

@keyframes transition {
    0% { 
    opacity: 0;
    margin-left: -20px;
    margin-right: -20px;
    }

    50% {
        opacity: 0.5;
    }

    100% { 
     opacity: 1;
     margin-left: 13px;
     margin-right: 13px;
    }
}

.CTA {
    display: block;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    padding: 13px 20px;
    border: none;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    margin-top: 40px;
}

footer{
    width: 100%;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #353535;
    .OMF{
        font-size: 1.125rem;
        color: #F7F7F7;
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
    }
    a{
        color: #F6F6F6;
        i{
            width: 11px;
            height: 13px;
            margin-right: 11px;
        }
    }
}

@media screen and (min-width: 769px){
    
    .menu{
        padding: 0px 125px;
    }
    .main-container{
        margin: 0px 90px;
    }

    .header_menu{.section_title_menu{
        position: static;
        justify-content: center;
        .icons{
        i{
            right: initial;
        }
    }
    }
    }  
    
    footer{
        padding: 30px 70px 30px 25px;
        flex-direction: row-reverse;
        align-items: center;
        gap: 50px;
    
        .footer-links-container{
            flex-direction: row;
            gap: 30px;
        }
    }
}

@media screen and (min-width: 1024px){
    .main-container{
        margin: 0px 193px;
    }
}