@import "variables";
@import "placeholder";


button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
}
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.OMF{
    font-family: 'Shrikhand', serif;
}
.title{
    font-weight: 700;
    font-size: 1.5rem;
}
.subtitle{
    font-size: 1.125rem;
}
header{
    @extend .flex-center;
    height: 63px;
   .OMF{
    font-size: 1.875rem;
   }
}
.location{
    @extend .flex-center;
    gap: 17px;
    height: 50px;
    background-color: #EAEAEA;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-intro{
    width: 100%;
    @extend .flex-center;
    flex-direction: column;
     .intro{
        @extend .flex-center;
        width: 100%;
        padding: 39px 10px 57px 10px;
        gap: 8px;
        flex-direction: column;
        background-color: #F6F6F6;
        text-align: center; /*justify pour subtitle*/
        .cta{
            width: 200px;
        }
        button{
            margin-top: 15px;
            font-size: 1rem;
            font-weight: 500;
            color: #EAEAEA;
            border: none;
            background: linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        }
     }
}
.article-step{
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 26px;
     padding: 0px 20px;
     margin-top: 48px;
     background-color: #FFFFFF;
        
    .step-container{
         @extend .flex-center;
         flex-direction: column;
         gap: 24px;
         
    }
    .step{
         @extend .flex-center;
             gap: 15px;
             width: 322.49px;
             height: 72.38px;
              background-color: #F6F6F6;
             border-radius: 20px;
             box-shadow: 0px 4px 15px 0px rgba(0,0,0,.15);  
             p{
                font-weight: 500;
            }
        }
        i{
             color: #7E7E7E;
        }       
 }
 .number-position{
    @extend .flex-center;
    width: 100%;
    .number{
        @extend .flex-center;
        width: 24px;
        height: 24px;
        position: relative;
        left: 12px;
        border-radius: 150px;
        color: #EAEAEA;
        background-color: $primaire;
     }
}
.restaurant-section{
    width: 100%;
    margin-top: 20px;
    background-color: #F6F6F6;
    .restaurant-card-container{
        width: 100%;
        padding: 28px 20px 66px 20px;
        display: flex;
        flex-direction: column; 
        gap: 18px; 
    }
    .card{
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,.1);  
        img{
            width: 100%;
            height: 231px;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;    
        } 
        .new{
            @extend .flex-center;
            width: 80px;
            height: 29px;
            border-radius: 2px;
            background-color: #99E2D0;
            box-shadow: ( 0, 2, 4, 0, 0.15);
            position: absolute;
            p{
                color: #008766;
            }  
        }  
    }
}   



.card-title{
    font-size: 1.125rem;
    font-weight: 700;
    
}
.card-content{
    display: flex;
    align-items: center;
    padding: 15px;
    i{
        position: absolute;
        right: 33px;
        color:#101010;
    }
    .fa-solid:not(:hover) {
        background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        line-height: 1;
        transition: opacity 0.8s ease-in 0.3s;
        opacity: 0; 
    }  
    .fa-solid:hover { 
        background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;     
        opacity: 1;
        line-height: 1;  
        cursor: pointer;
        transition: opacity 0.8s ease-in 0.3s;
    }
}
//.fa-regular:hover//




footer{
    width: 100%;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #353535;
    .OMF{
        font-size: 1.125rem;
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: #F6F6F6;
        i{
            width: 11px;
            height: 13px;
            margin-right: 11px;
        }
    }
}

.div-test{
        @extend .flex-center; 
        height: 200px;
        position: relative;
    .heart-icon__animated{
        width: 24px;
        height: 24px;
        background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            line-height: 1;
            transition: opacity 0.8s ease-in 0.3s;
            opacity: 0; 
    }
    i{
        position: absolute;
        width: 24px;
        height: 24px;
    }
        
        .fa-solid{
            background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            line-height: 1;
            transition: opacity 0.8s ease-in 0.3s;
            opacity: 0; 
        }  
        .fa-solid:hover { 
            background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;     
            opacity: 1;
            line-height: 1;  
            cursor: pointer;
            transition: opacity 0.8s ease-in 0.3s;
        }
   
}


