@import "variables";
@import "placeholder";


button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
}
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a{
    color: #101010;
    text-decoration: none;
}
.OMF{
    font-family: 'Shrikhand', serif; 
  
}
.title{
    font-weight: 700;
    font-size: 1.5rem;
}
.subtitle{
    font-size: 1.125rem;
}
.loader{

        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eed1e1;
        width: 100%;
        height: 100%;
        z-index: 1;
        animation: loader 2.5s linear forwards;
    
    .welcome {
        font-size: 20px;
   
    
     .fa-circle {
        display: inline-block;
        color: #9356DC;
        animation: pulse 1s reverse infinite;
        padding-left: 15px;
     }
    
    
     .fa-circle:nth-child(1) {
        animation-delay: 0.1s;
        color: #9356DC;
    }
    
    .fa-circle:nth-child(2) {
        animation-delay: 0.2s;
        color:#fff;  
    }
    
     .fa-circle:nth-child(3) {
        animation-delay: 0.3s;
        color: #9356DC;
    }
    
    .fa-circle:nth-child(4) {
        animation-delay: 0.4s;
        color: #fff;
    }
}   


@keyframes loader {
    0% {
        opacity: 1;
    }

    85% {
        opacity: 0.5;
    }

    100% { 
        z-index: -1;
        opacity: 0;
    }

     95% {
        z-index: 1;
    }
}
@keyframes pulse{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }
    100% {
        transform: scale(1.4);
    }
}
}
header{
    @extend .flex-center;
    height: 63px;
   .OMF{
    font-size: 1.875rem;
   }
}
.location{
    @extend .flex-center;
    gap: 17px;
    height: 50px;
    background-color: #EAEAEA;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-intro{
    width: 100%;
    @extend .flex-center;
    flex-direction: column;
     .intro{
        @extend .flex-center;
        width: 100%;
        padding: 39px 10px 57px 10px;
        gap: 8px;
        flex-direction: column;
        background-color: #F6F6F6;
        text-align: center; 
        .cta{
            width: 200px;
        }
        button{
            margin-top: 15px;
            font-size: 1rem;
            font-weight: 500;
            color: #EAEAEA;
            border: none;
            background: linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        }
        button:hover{
            filter: brightness(1.2);
            transition: 1s;
        }
        button:not(:hover){
                transition: 0.4s;
        }
     }
}
.article-step{ 
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 26px;
     padding: 0px 20px;
     margin-top: 48px;
     background-color: #FFFFFF;
    
     .title{
        align-self: flex-start;
     }
    .step-container{
         @extend .flex-center;
         flex-direction: column;
         gap: 24px;    
         width: 100%
    }
    .step{
         @extend .flex-center;
                gap: 15px;
                width: 100%;
                height: 72px;
                background-color: #F6F6F6;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0,0,0,.15);  
             p{
                font-weight: 500;
            }
        }
        i{
             color: #7E7E7E;
        }       
 }
 .number-position{
    @extend .flex-center;
    width: 100%;
    .number{
        @extend .flex-center;
        width: 24px;
        height: 24px;
        position: relative;
        left: 12px;
        border-radius: 150px;
        color: #EAEAEA;
        background-color: $primaire;
     }
     &:hover{
        transform: scale(1.05);
        transition: ease 0.4s;
        
        .step:hover{
            background-color: #F5EDFF;
            transition: ease 0.4s;
            i{
                color: #9356DC;
            }
        }
    }
    &:not(:hover){
        transition: all 0.4s
    }
    .step:not(:hover){
        transition: all 0.4s
    }
}
.restaurant-section{
    width: 100%;
    margin-top: 20px;
    background-color: #F6F6F6;
    .restaurant-card-container{
        width: 100%;
        padding: 28px 20px 66px 20px;
        display: flex;
        flex-direction: column; 
        gap: 18px; 
    }
    .card{
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,.1);  
        position: relative;
        img{
            width: 100%;
            height: 231px;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;    
        } 
        .new{
            @extend .flex-center;
            width: 80px;
            height: 29px;
            border-radius: 2px;
            background-color: #99E2D0;
            box-shadow: ( 0, 2, 4, 0, 0.15);
            position: absolute;
            right: 10px;
            top: 10px;
            p{
                color: #008766;
            }  
        }  
    }
}   
.card-title{
    font-size: 1.125rem;
    font-weight: 700;   
}
.card-content{
    display: flex;
    align-items: center;
    padding: 15px;
    i{
        position: absolute;
        right: 33px;
        color:#101010;
    }
    .fa-solid:not(:hover) {
        background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        line-height: 1;
        transition: opacity 0.4s ease-in 0.1s;
        opacity: 0; 
    }  
    .fa-solid:hover { 
        background-image:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;     
        opacity: 1;
        line-height: 1;  
        cursor: pointer;
        transition: opacity 0.4s ease-in 0.1s;
    }
}
footer{
    width: 100%;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #353535;
    .OMF{
        font-size: 1.125rem;
        color: #FFFFFF;
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
    }
    a{
        color: #F6F6F6;
        i{
            width: 11px;
            height: 13px;
            margin-right: 11px;
        }
    }
}
.grid{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/**********Partie responsive**********/

@media  (min-width: 769px){
    .step{
        width: inherit;
    }
    .number-position{
        width: 60%;
    }

footer{
    padding: 30px 70px 30px 25px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;

    .footer-links-container{
        flex-direction: row;
        gap: 30px;
    }
}
}

@media screen and (min-width: 1024px){

    .section-intro{
        .intro{
            gap: 18px;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 180px;
        column-gap: 100px;
        row-gap: 50px;
    }
    .article-step{
        .title{
                align-self: flex-start;    
        }
        .step-container{
        flex-direction: row;
        width: 78%;
        }
    }
    h2{
        margin-left: 180px;
    }

    
}